{% extends 'admin/base.html.twig' %}

{% block title %}Nouveau client{% endblock %}

{% block body %}
    <h1>Créer nouveau client</h1>

    {{ include('admin/user/_form.html.twig') }}

    <a href="{{ path('admin_user') }}">Retour à la liste</a>
{% endblock %}
