{% extends "base.html.twig" %}
{% block title %}
    Bienvenu dans la banque de demain
{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenu dans la banque de demain</h1>
        <p class="lead">Nous mettons en relation nos experts pour votre confort</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos produits</a>
        </p>
    </div>
</div>
{% endblock %}