div.container {
  margin-top: 20px;
  //margin-bottom: 20px;
}

div.carousel-caption {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.alert a {
  text-decoration: none;
}

.alert .btn {
  color: white;
}

h1{
  text-align: center;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  border-width: 3px;
  border-style: solid;
  border-color: black;
  color: blue;
}

.ddmenu {
  margin-right: 100px;
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  padding-top:50px;
  height:50px;
  margin:0;
  padding:0;
}

.jumbotron {
  text-align: center;
  background-color: azure;
}

.souligne {
  text-decoration: underline;
}

.margeHaut {
  margin-top: 25px;
}

.centrer {
  text-align: center;
}

.color1 {
  background-color: yellow;
}
