{% extends 'admin/base.html.twig' %}

{% block title %}Admin dashboard{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		li {
			color: purple;
			font-size: 20px;
			margin: 0 auto;
     		width: 200px; 
		}
		h2 {
			color: darkviolet;
			text-align: center;
			margin-bottom: 25px;
		}
	</style>
	<div class ="jumbotron">
		<div class="example-wrapper">
			<h1>Monsieur <strong>{{user.fullname}}</strong> ✅</h1>
		</div>
			
	</div>
		<div class="container">
        {% if usersNotAccount %}
		<h2>Clients en attente d'ouverture de compte</h2>
        {% endif %}
		<ul>
			{% for user in usersNotAccount %}
				<li>{{user.email}}</li>
			{% endfor %}
		</ul>	
	</div>

{% endblock %}
